@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');

body
{
    font-family: "Jost";
    position: relative;
}
p,h1,h2,h3,h4,h5,h6
{
    margin-bottom: 0;
    line-height: normal;
}
.steps
{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: #dcdadb;
    display: grid;
    place-items: center;
    position: relative;
    background-image: url(../images/bg.jpg);
    
}

.steps-inner
{
    
    min-height: 300px;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    z-index: 5;
    position: relative;
    margin: 50px 0;

}
.wrapper
{
    padding: 70px 100px;
}
.step-heading h2
{
    font-size: 35px;
    color: rgb(0, 10, 56);
    font-weight: bold;
    text-transform: uppercase;
}
.step-heading p
{
    font-size: 22px;
    color: rgb(0, 10, 56);
}
.step-bar .step-counter
{
    font-size: 20px;
    color: rgb(0, 10, 56);
    font-weight: bold;
    text-align: right;
    display: block;
}
.step-bar-inner
{
    border-radius: 9px;
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 16px;
    margin-top: 0.5rem;    
}
.step-bar-inner .step-bar-move
{
    width: 30%;
    border-radius: inherit;
    height: inherit;
    background-color: #fa4729;
    /* background-image: -moz-linear-gradient( -3deg, rgb(54,209,220) 0%, rgb(91,134,229) 100%);
    background-image: -webkit-linear-gradient( -3deg, rgb(54,209,220) 0%, rgb(91,134,229) 100%);
    background-image: -ms-linear-gradient( -3deg, rgb(54,209,220) 0%, rgb(91,134,229) 100%);  */
}
.form-heading
{
    font-size: 28px;
    color: rgb(0, 10, 56);
    font-weight: bold;
    margin-top: 1.5rem;
}
.form-inner
{
    margin-top: 1rem;
}
.form-input
{
    display: block;
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    height: 66px;
    font-size: 19px;
    color: rgb(0, 10, 56);
    font-weight: 500;
    padding: 12px;
    transition: 0.5s all ease;
}
.active-input
{
    background-color: rgb(233, 233, 233);
    transition: 0.5s all ease;
}
.active-input input
{
    margin-right: 40px !important;
    transition: 0.5s all ease;
}
.form-input input
{
    -webkit-appearance: none; 
    border: solid 2px rgb(233, 233, 233);
    border-radius: 50%;
    width: 33px;
    height: 33px;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.5s all ease;

}
.form-input input:checked
{
    background-color: #fa4729;
    position: relative;
}
.form-input input:checked::after
{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "\f00c";
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.form-buttons
{
    text-align: center;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

}
.form-buttons button, .form-buttons a
{
    border-radius: 34px;
    width: 46%;
    height: 68px;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s all ease;
}
.form-buttons button i, .form-buttons a i
{

    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    transition: 0.5s all ease;
}
.form-buttons .next:hover i
{
    transform: translateX(10px);
}
.form-buttons .prev:hover i
{
    transform: translateX(-10px);
}
.form-buttons .prev
{

    background-color: rgb(44, 42, 42);
}
.form-buttons .next
{

    background-color: #fa4729;

}
.timer
{
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 46px;
    background-color: #e9e9e9;
    box-shadow: 0px 9px 57px 0px rgba(19, 19, 19, 0.08);
    width: 270px;
    height: 90px;
    padding: 10px 15px;
    display: flex;
}
.countdown
{
    border-radius: 39px;
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 100%;
    text-align: center;
    display: grid;
    place-content: center;
}
.countdown span
{
    display: block;
}
.countdown .time
{

    font-size: 28px;
    color: rgb(0, 10, 56);
    font-weight: bold;
    line-height: 1;

      
}
.countdown .time-ex
{
    font-size: 12px;
    color: rgb(89, 89, 89);
    font-weight: bold;
    text-transform: uppercase;  
    line-height: 1;
}
.timer-heading
{
    font-size: 18px;
    color: rgb(44, 42, 42);
    font-weight: bold;
    line-height: 1;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}
/*thankyou-page*/

.thankyou-page
{
  background-color: rgb(243, 247, 254);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
}
.thankyou-page-inner
{
	background: rgb(255,255,255);
  border-radius: 90px;
  width: 100%;
  position: relative;
  top: 30%;
  /*transform: translateY(50%);*/
	text-align: center;
}
.tick
{
	position: relative;
}
.done-tick
{
	width: 120px;
	height: 120px;
	border: solid 1px transparent;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-left-color: rgb(34,208,136);
  animation: rotate-circle 0.5s linear forwards;
  animation-delay: 0.5s;
	border-radius: 50%;
	background-color: transparent;
}


.tick i
{
	font-weight: 900;
	font-size: 50px;
	color: rgb(34,208,136);
  position: absolute;
  animation: tick-icon 0.8s linear forwards;
  animation-delay: 0.5s;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation-delay: 0.5s;
}

.thankyou-page-inner h2
{
  font-size: 45px;
  color: rgb(5, 17, 51);
  margin-top: 20px;
  font-weight: bold;
}
.thankyou-page-inner p
{

  font-size: 16px;
  color: rgb(170, 170, 170);
  margin-top: 20px;
}

.thankyou-page-inner .wrapper
{
	padding: 80px 290px;
}
.next-prev-btn .back
{   
    border: 0;
    border-radius: 50px;
    background-color: #fa4729;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 67px;
    margin-top: 15px;
      
  }
  